@import './globals.scss';

.field {
    background-color: #97BB87;
    width: 670px;
    height: 334px;
    position: relative;

    .lateral {
        margin: 10px;
        width: 644px;
        height: 308px;
        // position: relative;
        top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .linha {
        border: solid 4px white;
    }

    .area {
        width: 70px;
        height: 140px;
    }

    .left {
        border-left: 0;
    }

    .right {
        border-right: 0;
    }

    .circulo {
        width: 140px;
        height: 140px;
        border-radius: 100%;
        position: relative;
    }

    .centro {
        position: absolute;
        height: calc(334px - 28px);
        left: calc(50% - 2px);
        border-left: none;
    }

    .choosePlayer {
        position: absolute;
        border: solid 1px black;
        background-color: #285430;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: $defaultFont;
    }
    .b1, .b4, .b5 {
        top: 152px;
    }
    .b1 {
        left: 5%;
    }
    .b2, .b3 {
        left: 20%;
    }
    .b2 {
        top: 23%;
    }
    .b3 {
        top: 69%;
    }
    .b4 {
        left: 40%;
    }
    .b5 {
        left: 60%;
    }
}