@import './globals.scss';
:export {
    headerWidth: $headerWidth;
    primaryGreen: $primaryGreen;
    secondaryGreen: $secondaryGreen;
    terciaryGreen: $terciaryGreen;
    backgroundColor: $backgroundColor;

}