// FONTE ROBOTO (SERÁ TROCADA!)
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
// CORES:
$backgroundColor: #f5f5f5;
$blackDefault: #000000;
$primaryGreen: #66a571;
$secondaryGreen: #5f8d4e;
$terciaryGreen: #285430;
$quaternaryGreen: #359830;
$quinaryGreen:  #50883B;
$red: #d13939;
$mainFontColor: #121212;

// TAMANHOS DE FONTES:
$textXL: 36px;
$textL: 33px;
$textSL: 30px;
$textXG: 27px;
$textG: 24px;
$textSG: 21px;
$textXM: 18px;
$textM: 15px;
$textSM: 12px;

// QUEBRA DE PÁGINA
$minSize: 320px;
$mediumSize: 700px;
$maxSize: 1200px;

$defaultFont: 'Roboto', sans-serif;

// GERAIS
$headerWidth: 260px;
