@import './globals.scss';
$logoSize: 100px;
$maxWidth: 1200px;
$corTextosMenus: black;
$minSize1: 850px;
$sidebarWidth: 260px;
$backgroundHeaderTransparent: #28543017;

.globalHeader {
    // background-image: linear-gradient(180deg, $terciaryGreen, $backgroundHeaderTransparent);
    background-color: $terciaryGreen;
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: $minSize;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all ease .2s;

    .fixedGlobalHeader {
        background-color: $terciaryGreen;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.534);
        height: 55px;
        width: 100%;
        display: flex;
        justify-content: center;
        min-width: $minSize;
        position: fixed;
        z-index: 10;
        top: 0;
    }

    .mainHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $corTextosMenus;
        font-size: $textXM;
        height: 55px;
        font-family: $defaultFont;
        width: 100%;
        max-width: $maxSize;

        @media (min-width: $mediumSize) {
            flex-direction: row-reverse;
        }

        @media (max-width: $minSize) {
            width: 100%;
        }

        .navbar {
            display: flex;
            align-items: center;
            transition: all ease .2s;

            @media (min-width: $mediumSize) {
                margin-left: 0;
            }

            @media (max-width: $mediumSize) {
                left: 0;
                width: $sidebarWidth;
                height: 100%;
                background-color: $terciaryGreen;
                text-align: center;
                transition: all ease .8s;
                margin-left: 0;
            }

            .activeSidebar {
                margin-left: 0;
                left: 0;

                @media (max-width: $mediumSize) {
                    margin-left: -$sidebarWidth;
                    display: block;
                }
            }

            .toggleCollapse {
                display: none;
                float: right;
                background: transparent;
                margin-right: -26px;
                margin-top: 16px;
                content: '';
                outline: inherit;
                border: 0;


                @media (max-width: $mediumSize) {
                    display: block;
                }

                .icon {
                    display: none;

                    @media (max-width: $mediumSize) {
                        display: block;
                        position: absolute;

                        &:hover {
                            cursor: pointer;
                        }

                        transition: all ease .5s;
                    }
                }

                .active {
                    z-index: 1;

                    &:hover {
                        cursor: pointer;
                    }

                    .top {
                        transform: rotate(45deg);
                        d: path("M 0 0 L40 0");
                        top: 10px;
                    }

                    .middle {
                        display: none;
                    }

                    .bottom {
                        transform: rotate(320deg);
                        d: path("M -40 18.25 L16 12.75");
                    }
                }
            }

            .sideNav {
                top: 0;
                display: flex;
                align-items: center;
                list-style-type: none;
                padding: 0;
                margin: 0;

                @media (max-width: $mediumSize) {
                    height: 100vh;
                    width: $sidebarWidth;
                    position: fixed;
                    background-color: $terciaryGreen;
                    flex-direction: column;
                    top: 0;
                    display: flex;
                    align-items: center;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    width: $sidebarWidth;
                }

                .logoSB {
                    width: 70px;
                    display: block;

                    @media (min-width: $mediumSize) {
                        display: none;
                    }

                    img {
                        width: 70px;
                        display: block;
                        margin-top: 20px;
                        transition: all ease .2s;

                        @media (min-width: $mediumSize) {
                            display: none;
                        }
                    }
                }

                .navItem {
                    display: flex;
                    padding: 15px 10px;
                    align-items: center;
                    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

                    a {
                        padding: 0;
                        margin: 0;
                        font-size: white;
                    }

                    p {
                        margin: 0;
                        font-size: white;
                    }

                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }

                }
            }

            .ocupadorEspaco {
                height: 100vh;
                // width: calc(1000vw - $sidebarWidth);
                width: 100vw;
                margin-left: $sidebarWidth;
                transition: all ease 0.2s;
                -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px);
                top: 53vh;
                left: 3vw;
                position: relative;
            }

            .opacity {
                height: 100vh;
                width: 100vw;
                box-sizing: border-box;
            }
        }
    }

}