@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
//FONTES DE TESTE!!)


.header {
  background-color: #285430;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: sticky;
  top:0;
  left:0;  
  width: 100%;
  z-index:1;
  float:left;
  font-family: Open Sans, sans serif;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff00;
}

.header li a {
  display: block;
  padding: 0.7em 0.5em;
  text-decoration: none;
  transition:.3s;
  border-bottom: 1px #ffffff46 solid;
  color:#ffffff;  
}

.header li a:hover,
.header .btn_mobile:hover {
  color:#ffffff;
  background-color: rgba(0, 0, 0, 0.151);
}

.header .logo{
  display: block;
  float: left;
}

.logo{
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 5em;
  margin-top: 5px;
}

.header .nav {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/*ICONE DO MENU*/
.ops{
  font-size: 0.88em;
}
.header .mobile_icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .mobile_icon .hamburguer {
  background: #d1d1d1;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .mobile_icon .hamburguer:before,
.header .mobile_icon .hamburguer:after {
  background: #d1d1d1;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .mobile_icon .hamburguer:before {
  top: 5px;
}

.header .mobile_icon .hamburguer:after {
  top: -5px;
}


/* menu btn */
.header .mobile_btn {
  display: none;
}

.header .mobile_btn:checked ~ .nav {
  max-height: 240px;
}

.header .mobile_btn:checked ~ .mobile_icon .hamburguer {
  background: transparent;
}

.header .mobile_btn:checked ~ .mobile_icon .hamburguer:before {
  transform: rotate(-45deg);
}

.header .mobile_btn:checked ~ .mobile_icon .hamburguer:after {
  transform: rotate(45deg);
}

.header .mobile_btn:checked ~ .mobile_icon:not(.steps) .hamburguer:before,
.header .mobile_btn:checked ~ .mobile_icon:not(.steps) .hamburguer:after {
  top: 0;
}

.container {
  width:100%;
  float:left;
  margin-top:100px;    
}

.container { 
  float:left; 
  width:92%; 
  margin:0 4%;
}

/* 48em = 768px */
@media (min-width: 48em) {
  
  .header li { float:left; }
  
  .header li a {
    
    padding: 15px 30px;
    
    border-radius: 0px;
  }
  .header .nav {
    clear: none;
    float: right;
    max-height: none;
  }
  
  .header .mobile_icon { display:none; }
  .header li a {
  
    transition:.3s;
    border-bottom:0; 
  
  }
}

@media (max-width: 48em) {

  .logoImg {
    
    margin-top: 9px;
  }

  .header .mobile_btn:checked ~ .nav{
    margin-bottom: 2em;
  }
}