@import './globals.scss';

.divlogoadm{
    width: 100%;
}

.divlogoadm h1{
    margin: 0;
    align-items: end;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
}

.logo{
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: right;
}








.table_score{
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

.table_score td {

    text-align: center;
    border: 1px solid #000000;
    padding: 8px 4em;
}

.table_score tr:nth-child(even){background-color: #f2f2f2}

.div_container{
   width: 100%;
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.container_2{
    max-width: 80vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table_score th{
    width: 100%;
}
.botoes{
    width: 100%;
}

.escolher_time{
    max-width: 20vh;
    width: 93%;
    border: 0px solid black;
    background-color: #285430;
    color: white;
    padding: 8px 1em;
    margin: 1.5em 0em;
}

.jogadores_name{
    color: #50883B;
}


@media screen and (max-width: 767px){
    .logo{
        justify-content: left;
    }

    .container_2{
        display: flex;
        flex-direction: column;
    }
}