@import './globals.scss';

.main {
  background-color: $backgroundColor;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $defaultFont;
  
  
  .loginUtilArea {
    max-width: $maxSize;
    min-width: $minSize;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .loginTitle {
      font-size: $textXL;
      transition: all ease .2s;
      color: $mainFontColor;
      @media (max-width: $mediumSize) {
        font-size: $textSL;
      }
    }
    .loginForm {
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .loginField {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .loginLabel {
          font-size: $textM;
          font-weight: bold;
          color: $mainFontColor;
        }

        .loginInput {
          border-radius: 5px;
          height: 20px;
          border: 1px solid black;

          &::content {
            font-family: $defaultFont;
            color: $mainFontColor;
          }
        }
        
      }
    }

    .loginButton {
      background-color: $secondaryGreen;
      color: white;
      border: none;
      padding: 6px 15px;
      border-radius: 25px;
      cursor: pointer;
      transition: all ease .2s;
      font-size: $textM;

      &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 5px 15px 5px $mainFontColor;
      }
    }
  }
}