@import './globals.scss';

.main {
  background-color: $backgroundColor;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $defaultFont;
  
  
  .loginUtilArea {
    max-width: $maxSize;
    min-width: $minSize;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    .loginForm {
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: auto;
      height: 500px;
      .loginField {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .loginLabel {
          font-size: $textM;
          font-weight: bold;
          color: $mainFontColor;
        }

        .loginInput {
          border-radius: 5px;
          height: 20px;
          border: 1px solid black;

          &::content {
            font-family: $defaultFont;
            color: $mainFontColor;
          }
        }
        
      }
      
    }

    .registerLink{
      color: #000;
      text-decoration: none;
      font-size: $textM;
      margin: 0;
    }

    .registerP{
      text-align: right;
    }

    .registerP:hover {
      transform: translateY(-5px);
    }

    .loginButton {
      background-color: #50883B;
      color: #000;
      border: none;
      padding: 15px 15px;
      cursor: pointer;
      transition: all ease .2s;
      font-size: 18px;
      margin: 0px 20px;
      text-transform: uppercase;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: translateY(-5px);
        // box-shadow: 0 5px 15px 5px $mainFontColor;
      }
    }

    .loginAdmField{
      margin-top: 100%;
      transition: all ease .2s;
    }

    .loginAdmField:hover {
      transform: translateY(-5px);
    }
  }
}

@media(min-width:$mediumSize){
  .loginUtilArea{
    margin-left: 500px;
  }
}