@import 'globals.scss';
.teamCard {
    width: 90%;
    background-color: $quinaryGreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

    button{

    }
}